In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-02-05 18:46:26,-23.1203,-134.9692,78.80,72,100,11.70
1,1,Aktas,KZ,2022-02-05 18:46:27,49.7789,72.9608,3.74,68,5,9.35
2,2,Cidreira,BR,2022-02-05 18:46:27,-30.1811,-50.2056,73.99,94,100,8.93
3,3,Tasiilaq,GL,2022-02-05 18:46:27,65.6145,-37.6368,24.96,58,100,9.73
4,4,Butaritari,KI,2022-02-05 18:46:01,3.0707,172.7902,82.36,70,13,19.37

In [6]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temps in max_temp:
#    temps.append(max(temp,0))

In [24]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

# Heatmap of temperature
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig2.add_layer(heat_layer)
# Call the figure to plot the data.
fig2

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-02-05 18:46:26,-23.1203,-134.9692,78.80,72,100,11.70
4,4,Butaritari,KI,2022-02-05 18:46:01,3.0707,172.7902,82.36,70,13,19.37
5,5,Vila Velha,BR,2022-02-05 18:45:37,-20.3297,-40.2925,84.15,80,40,13.00
9,9,Palauig,PH,2022-02-05 18:46:30,15.4350,119.9045,76.87,72,72,5.75
10,10,Avarua,CK,2022-02-05 18:46:31,-21.2078,-159.7750,78.85,83,40,11.50

In [31]:
preferred_cities_df.count()

City_ID       148
City          148
Country       147
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_data_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_data_df["Hotel Name"] = ""
hotel_data_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Rikitea      PF     78.80 -23.1203 -134.9692
4       Butaritari      KI     82.36   3.0707  172.7902
5       Vila Velha      BR     84.15 -20.3297  -40.2925
9          Palauig      PH     76.87  15.4350  119.9045
10          Avarua      CK     78.85 -21.2078 -159.7750
12  Saint-Philippe      RE     81.99 -21.3585   55.7679
18           Kihei      US     77.85  20.7850 -156.4656
19            Hilo      US     75.79  19.7297 -155.0900
21         Labuhan      ID     78.06  -6.8844  112.2051
33    Porto Walter      BR     89.15  -8.2686  -72.7439

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

# Iterate through the DataFrame.
for index, row in hotel_data_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_data_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")


hotel_data_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.80,-23.1203,-134.9692,People ThankYou
4,Butaritari,KI,82.36,3.0707,172.7902,Isles Sunset Lodge
5,Vila Velha,BR,84.15,-20.3297,-40.2925,Quality Suites Vila Velha
9,Palauig,PH,76.87,15.4350,119.9045,Alperi Botique Resort
10,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
12,Saint-Philippe,RE,81.99,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
18,Kihei,US,77.85,20.7850,-156.4656,Maui Sunset
19,Hilo,US,75.79,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Labuhan,ID,78.06,-6.8844,112.2051,DoubleFAG
33,Porto Walter,BR,89.15,-8.2686,-72.7439,Secretaria de saúde

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_data_df.iterrows()]

In [43]:
# Heatmap of temperature for vacation spots
locations = hotel_data_df[["Lat", "Lng"]]
max_temp = hotel_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))